**/node_modules
node_modules

dist
dist-ssr
.output
.vinxi
.nitro
.tanstack

.git
.gitignore
*.md
*.log
*.local

.env
.env.*
!.env.example

.wrangler
.dev.vars
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
